$sans: "Open Sans", "Helvetica Neue", Arial, sans-serif;
$serif: "Gentium Book Basic", Georgia, Times, "Times New Roman", serif;
$mono: "Consolas", "Inconsolata", Monaco, "Andale Mono", "lucida console", "Courier New", monospace;
$heading-font-family: "Open Sans", "Helvetica Neue", Arial, sans-serif;
//$header-title-font-family: "Futura", sans-serif;
//$header-subtitle-font-family: "Futura", sans-serif;
